
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.homepage-body-content {
  height: 100%;
  width: 100%;
  background-image: url('breakfast.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $navy;
  font-family: $body-font;

}

.homepage-text {
  padding-bottom: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 900px;
  h3 {
  text-align: center;
  margin: 5px;
  }
}

.center-homepage-button {
  display: flex;
  justify-content: center;
}

.homepage-button {
  border-radius: 20px;
  padding: 10px;
  background-color: $off-white;
  text-align: center;
  margin: 5px;
  width: 40%;
  a {
    color: $navy;
    text-decoration: none;
  }
}
