form {
  text-align: center;
  margin: 16px 0;
}

.all-restaurants-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
.each-restaurant-grid {
  display: flex;
  justify-content: center;
  background-color: $off-white;
  align-items: top;
  a {
    font-family: $body-font;
    color: $navy;
    text-decoration: none;
  }
}

h1 {
  font-family: $body-font;
  text-align: center;
  color: $navy;
}
