form {
  text-align: center;
  margin: 16px 0;
}

.all-restaurants-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
.each-restaurant-grid {
  display: flex;
  justify-content: center;
  background-color: black;
  align-items: top;
  a {
    color: white;
    text-decoration: none;
  }
}

h1 {
  text-align: center;
}
